microsoft-edge-dev/NativeMessagingHosts
nvim
pulse
vivaldi/NativeMessagingHosts
vivaldi-snapshot/NativeMessagingHosts
user-dirs.locale
user-dirs.dirs
pavucontrol.ini
mimeapps.list
google-chrome-unstable/NativeMessagingHosts
google-chrome-beta/NativeMessagingHosts
google-chrome/NativeMessagingHosts
gh
dconf
chromium
BraveSoftware/Brave-Browser/NativeMessagingHosts
1Password
